*.iml
*.bat
*.gradle
*/local.properties
*.idea
*.DS_Store
*/captures
*/gradlew
*/build/
!*/build/intermediates/cmake/debug/obj/
*/app/src/test/
*.externalNativeBuild
*.jar
*.pro
*/androidTest/*
OpenSLPlay/app/src/androidTest/java/com/example/ether/openslplay/ExampleInstrumentedTest.java
