*.iml
*.bat
*.gradle
*/local.properties
*.idea
*.DS_Store
*/captures
*/gradlew
*/build/
*/build/intermediates/cmake/debug/obj/
*/app/src/test/
*.externalNativeBuild
*.jar
*.pro
*/androidTest/*
*.properties
*.json
AndroidMediaNote/MediaPlayerDemo/app/build/generated/source/buildConfig/debug/com/example/mediaplayerdemo/BuildConfig.java
AndroidMediaNote/MediaPlayerDemo/app/src/androidTest/java/com/example/mediaplayerdemo/ExampleInstrumentedTest.java
AndroidMediaNote/MediaPlayerDemo/app/src/test/java/com/example/mediaplayerdemo/ExampleUnitTest.java
*.flat
AndroidMediaNote/MediaPlayerDemo/gradlew
